<script type="text/javascript" src="//track.juiceadv.com/banner_rtg.asp?id=<?php echo $this->getCartCampaignId(); ?>&s=<?php echo $this->getCartCampaignS(); ?>"></script>
<iframe marginwidth="0" marginheight="0" frameborder="0" scrolling="no" allowtransparency="true" src="//track.juiceadv.com/banner_rtg.asp?id=<?php echo $this->getCartCampaignId(); ?>&s=<?php echo $this->getCartCampaignS(); ?>" width="1" height="1"></iframe>
