<script type="text/javascript" src="//track.juiceadv.com/banner_rtg.asp?id=<?php echo $this->getProductCampaignId(); ?>&s=<?php echo $this->getProductCampaignS(); ?>"></script>
<iframe marginwidth="0" marginheight="0" frameborder="0" scrolling="no" allowtransparency="true" src="http://track.juiceadv.com/banner_rtg.asp?id=<?php echo $this->getProductCampaignId(); ?>&s=<?php echo $this->getProductCampaignS(); ?>" width="1" height="1"></iframe>