<?php
$quote = Mage::getModel('checkout/cart')->getQuote();
$qty = $this->getElementQtyItems($quote);
$revenue = $this->getTotal($quote);
$users = (Mage::getSingleton('customer/session')->isLoggedIn())? 'Logged-In' : 'Guest';
?>
<script>var an = document.createElement("script");
    an.async = !0, an.src = 'https://ad.atdmt.com/m/a.js;m=<?php echo $this->getUniversalTagId() ?>;cache=" + Math.random() + "?product_name=<?php echo $this->getElementProductsName($quote); ?>&amp;revenue=<?php echo Mage::helper('core')->currency($revenue, false, false); ?>&amp;order_id=&amp;users=<?php echo $users ?>&amp;category=<?php echo $this->getElementCategoryName($quote); ?>&amp;qty=<?php echo $qty; ?>&amp;product_sku=<?php echo $this->getElementProductsSku($quote); ?>';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(an, s);
</script>
<noscript>
<iframe frameborder='0' scrolling='no' marginheight='0' marginwidth='0' topmargin='0' leftmargin='0' allowtransparency='true' style='display:none;'src='https://ad.atdmt.com/m/a.html;m=<?php echo $this->getUniversalTagId() ?>;noscript=1?product_name=<?php echo $this->getElementProductsName($quote); ?>&amp;revenue=<?php echo Mage::helper('core')->currency($revenue, false, false); ?>&amp;order_id=&amp;users=<?php echo $users ?>&amp;category=<?php echo $this->getElementCategoryName($quote); ?>&amp;qty=<?php echo $qty; ?>&amp;product_sku=<?php echo $this->getElementProductsSku($quote); ?>'></iframe>
</noscript>