<?php
$categoryName = null;
$currentCategory = Mage::registry('current_category');
if (is_object($currentCategory)) {
    $categoryName = $currentCategory->getName();
}
$isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
$users = 'Guest';
if ($isLoggedIn) {
    $users = 'Logged-In';
}
$currentProduct = Mage::registry('current_product');
if (is_object($currentProduct)) {
    $itemName[0]['name'] = $currentProduct->getName();
    $itemCategory[0]['cateory'] = $categoryName;
    $itemSku[0]['sku'] = $currentProduct->getSku();
    ?>
<script>var an = document.createElement("script");
    an.async = !0, an.src = 'https://ad.atdmt.com/m/a.js;m=<?php echo $this->getUniversalTagId() ?>;cache=" + Math.random() + "?product_name=<?php echo json_encode($itemName) ?>&amp;revenue=<?php echo $currentProduct->getFinalPrice() ?>&amp;order_id=&amp;users=<?php echo $users ?>&amp;category=<?php echo json_encode($itemCategory) ?>&amp;qty=&amp;product_sku=<?php echo json_encode($itemSku) ?>';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(an, s);
</script>
<noscript>
<iframe frameborder='0' scrolling='no' marginheight='0' marginwidth='0' topmargin='0' leftmargin='0' allowtransparency='true' style='display:none;'src='https://ad.atdmt.com/m/a.html;m=<?php echo $this->getUniversalTagId() ?>;noscript=1?product_name=<?php echo json_encode($itemName) ?>&amp;revenue=<?php echo $currentProduct->getFinalPrice() ?>&amp;order_id=&amp;users=<?php echo $users ?>&amp;category=<?php echo json_encode($itemCategory) ?>&amp;qty=&amp;product_sku=<?php echo json_encode($itemSku) ?>'></iframe>
</noscript>
<?php }




