<?php
$orderId = Mage::getSingleton('checkout/session')->getLastOrderId();
if ($orderId) {
    $order = Mage::getModel("sales/order")->load($orderId);
    $qty = $this->getElementQtyItems($order, 'order');
    $revenue = $this->getTotal($order);
    $isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn();
    $users = 'Guest';
    if ($isLoggedIn) {
        $users = 'Logged-In';
    }
    ?>
<script>var an = document.createElement("script");
    an.async = !0, an.src = 'https://ad.atdmt.com/m/a.js;m=<?php echo $this->getUniversalTagId() ?>;cache=" + Math.random() + "?product_name=<?php echo $this->getElementProductsName($order); ?>&amp;revenue=<?php echo Mage::helper('core')->currency($revenue, false, false); ?>&amp;order_id=<?php echo $order->getIncrementId() ?>&amp;users=<?php echo $users ?>&amp;category=<?php echo $this->getElementCategoryName($order); ?>&amp;qty=<?php echo $qty; ?>&amp;product_sku=<?php echo $this->getElementProductsSku($order); ?>';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(an, s);
</script>
<noscript>
<iframe frameborder='0' scrolling='no' marginheight='0' marginwidth='0' topmargin='0' leftmargin='0' allowtransparency='true' style='display:none;'src='https://ad.atdmt.com/m/a.html;m=<?php echo $this->getUniversalTagId() ?>;noscript=1?product_name=<?php echo $this->getElementProductsName($order); ?>&amp;revenue=<?php echo Mage::helper('core')->currency($revenue, false, false); ?>&amp;order_id=<?php echo $order->getIncrementId() ?>&amp;users=<?php echo $users ?>&amp;category=<?php echo $this->getElementCategoryName($order); ?>&amp;qty=<?php echo $qty; ?>&amp;product_sku=<?php echo $this->getElementProductsSku($order); ?>'></iframe>
</noscript>
<?php }




