<?php if ($this->getEnabled()): ?>
<?php $this->setClickTagVars();?>
<!-- Start of DoubleClick Floodlight Tag: Please do not remove -->
<script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://<?php echo $this->getMerchantCode(); ?>.<?php echo $this->getProdUrl(); ?>/activityi;<?php echo $this->getUrlParams(); ?>" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://<?php echo $this->getMerchantCode(); ?>.<?php echo $this->getProdUrl(); ?>/activityi;<?php echo $this->getUrlParams(); ?>" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
<?php endif; ?>