<?php
$defaultTrackType = Mage::helper('tracker/facebookpixel')->getDefaultTrackType();
$pageName = Mage::helper('tracker/facebookpixel')->initiateCheckout();
$facebookPixelScriptCode = <<<SCRIPTCODE
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '{$this->getCampaignId()}');
    fbq('track','{$defaultTrackType}');
    fbq('track', '{$pageName}');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id={$this->getCampaignId()}&ev={$pageName}&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
SCRIPTCODE;
echo $facebookPixelScriptCode;
