<?php

$cmsPageUrlKey = Mage::getSingleton('cms/page')->getIdentifier();
$controllerName = Mage::app()->getFrontController()->getRequest()->getControllerName();
$country = Mage::getStoreConfig('general/country/default');
$pageName = 'masterTag';
$urlPageName = urlencode($pageName);
$adFormScript = null;

switch ($controllerName) {
    case "index":
        if ($cmsPageUrlKey=="home") {
            $pageName = Mage::helper('tracker/adform')->homePagename();
            $urlPageName = urlencode($pageName);
            if(!Mage::helper("tracker/adform")->isEnabledForHomepage())
                break;

            $adFormScript = <<<SCRIPTCODE
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    var _adftrack = {
        pm: {$this->getCampaignId()},
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('{$pageName}'),
        order : {             
             sv1: '{$country}'
        }        
    };
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="//track.adform.net/Serving/TrackPoint/?pm={$this->getCampaignId()}&ADFPageName={$urlPageName}&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
SCRIPTCODE;
        } else {
            if(!Mage::helper("tracker/adform")->isEnabledForStaticPage())
                    break;
            $adFormScript = <<<SCRIPTCODE
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    var _adftrack = {
        pm: {$this->getCampaignId()},
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('{$pageName}'),
        order : {
             sv1: '{$country}'
        }
    };
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm={$this->getCampaignId()}&ADFPageName={$urlPageName}&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
SCRIPTCODE;
        }
        break;

    case "category":
        $_current_category = Mage::registry('current_category');
        $pageName = Mage::helper('tracker/adform')->categoryPagename();
        $urlPageName = urlencode($pageName);
        if(!Mage::helper("tracker/adform")->isEnabledForCategory())
            break;

        $adFormScript = <<<SCRIPTCODE
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    var _adftrack = {
        pm: {$this->getCampaignId()},
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('{$pageName}'),
        order : {             
             sv1: '{$country}',
             itms: {$this->getCategoryItems($_current_category)}
        }        
    };
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm={$this->getCampaignId()}&ADFPageName={$urlPageName}&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
SCRIPTCODE;
        break;

    case "product":
        $product = Mage::helper("tracker/adform")->getProduct();
        $pageName = Mage::helper('tracker/adform')->productPagename();
        $urlPageName = urlencode($pageName);
        if(!Mage::helper("tracker/adform")->isEnabledForProduct())
            break;

        $adFormScript = <<<SCRIPTCODE
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    var _adftrack = {
        pm: {$this->getCampaignId()},
        pagename: encodeURIComponent('{$pageName}'),
        divider: encodeURIComponent('|'),
        order : {             
             sv1: '{$country}',
             itms: [{     
                 productid: '{$product->getId()}',
		 step: 1     
             }]
        }
    };
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="//track.adform.net/Serving/TrackPoint/?pm={$this->getCampaignId()}&ADFPageName={$urlPageName}&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
SCRIPTCODE;
        break;

    default:
        if(!Mage::helper("tracker/adform")->isEnabledForStaticPage())
            break;
        $adFormScript = <<<SCRIPTCODE
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    var _adftrack = {
        pm: {$this->getCampaignId()},
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('{$pageName}'),
        order : {             
             sv1: '{$country}'
        }        
    };
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm={$this->getCampaignId()}&ADFPageName={$urlPageName}&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
SCRIPTCODE;
        break;
}

if (!is_null($adFormScript)) {
    echo $adFormScript;
}