<!--ADFORM Cart Tracking Code Begin -->
<?php $order = $this->getCurrentOrder(); ?>
<?php $pageName = Mage::helper('tracker/adform')->successPagename(); ?>
<?php $urlPageName = urlencode($pageName); ?>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
var _adftrack = {
    pm: <?php echo $this->getCampaignId(); ?>,
    pagename: encodeURIComponent('<?php echo $pageName ?>'),
    divider: encodeURIComponent('|'), 
    order: {             
        sales: '<?php echo $this->getOrderTotal($order); ?>',
        orderid: '<?php echo $this->getCurrentOrderIncrementId(); ?>',            
        sv1: '<?php echo Mage::getStoreConfig('general/country/default'); ?>',
        itms: <?php echo $this->getOrderItems($order); ?>
    }    
};
(function(){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src='https://track.adform.net/serving/scripts/trackpoint/async/';var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})();
</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=<?php echo $this->getCampaignId(); ?>&ADFPageName=<?php echo $urlPageName ?>&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->


