<?php if ($this->canTrackOrder()): ?>
    <script type="text/javascript">
        if (!window.mstag) {
            mstag = {loadTag: function() { }, time: (new Date()).getTime()};
		}
    </script>
    <script id="mstag_tops" type="text/javascript" src="//flex.atdmt.com/mstag/site/759a5db5-d712-41f1-8d60-7e836f8660a6/mstag.js"></script>
    <script type="text/javascript">
        mstag.loadTag("analytics", {
            dedup: "<?php echo $this->dedup; ?>",
            domainId: "<?php echo $this->domainid; ?>",
            type: "<?php echo $this->trackerType; ?>",
            revenue: "<?php echo $this->revenue; ?>",
            actionid: "<?php echo $this->actionid; ?>"
        });
    </script>
    <noscript>
    	<iframe src="//flex.atdmt.com/mstag/tag/759a5db5-d712-41f1-8d60-7e836f8660a6/analytics.html?dedup=<?php echo $this->dedup; ?>&domainId=<?php echo $this->domainid; ?>&type=<?php echo $this->trackerType; ?>&revenue=<?php echo $this->revenue; ?>&actionid=<?php echo $this->actionid; ?>" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"></iframe>
    </noscript>
<?php endif;