<?php if (Mage::getStoreConfig("tracker/etracker/enabled")) { ?>
	<script type="text/javascript">document.write(String.fromCharCode(60)+"script type=\"text/javascript\" src=\"http"+("https:"==document.location.protocol?"s":"")+"://code.etracker.com/t.js?et=<?php echo Mage::getStoreConfig("tracker/etracker/accountid"); ?>\">"+String.fromCharCode(60)+"/script>");</script>
	<script type="text/javascript">if(typeof _etc == 'function'){_etc();}</script>
	<noscript><p><a href="http://www.etracker.com"><img style="border:0px;" alt="" src="https://www.etracker.com/nscnt.php?et=<?php echo Mage::getStoreConfig("tracker/etracker/accountid"); ?>" /></a></p></noscript>
<?php }
