<?php if ($this->canTrackOrder()): ?>
    <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '<?php echo $this->pixel_id; ?>', {'value':'<?php echo $this->baseGrandTotal; ?>','currency':'<?php echo $this->currency; ?>'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=<?php echo $this->pixel_id; ?>&amp;cd[value]=<?php echo $this->baseGrandTotal; ?>&amp;cd[currency]=<?php echo $this->currency; ?>&amp;noscript=1" /></noscript>
<?php endif; ?>