<!-- NOCACHE key="<?php echo $this->getNameInLayout() ?>" -->
<?php
/** @var $h Tbuy_Tracker_Helper_Data */
$h = Mage::helper('tracker');
if( $h->isGoogleAdsEnabled(Mage::app()->getStore()->getId()) ) : ?>
	<script type="text/javascript">
	var google_tag_params = <?php echo $this->getTagParams()?>
	</script>
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = '<?php echo $h->getGoogleAdsConversionId(Mage::app()->getStore()->getId())?>';
	var google_conversion_label = "<?php echo $h->getGoogleAdsConversionLabel(Mage::app()->getStore()->getId())?>";
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
	<noscript>
		<div style="display:inline;">
			<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/<?php echo $h->getGoogleAdsConversionId(Mage::app()->getStore()->getId())?>/?value=0&amp;label=<?php echo $h->getGoogleAdsConversionLabel(Mage::app()->getStore()->getId())?>&amp;guid=ON&amp;script=0"/>
		</div>
	</noscript>
<?php endif; ?>
<!-- ENDNOCACHE -->