<?php $id = $this->getData('tag_manager_id'); ?>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=<?php echo $id; ?>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','<?php echo $id; ?>');</script>
<!-- End Google Tag Manager -->
<script type="text/javascript">
<?php
// per il mini carrello nell'header
$jqHead = Mage::getStoreConfig('tracker/google_tag_manager/remove_from_cart_header');
if ($jqHead):
	$currencyCode = $this->getData('currencyCode');
	$cartClick    = $this->getData('cartClick');
	?>
    var cartClick = <?php echo $cartClick; ?>;
    jQuery(document).ready(function() {
        jQuery('<?php echo $jqHead; ?>').each(function() {
            jQuery(this).attr('onclick', 'return confirmRemoveItemAndTrack(this);');
        });
    });
    function confirmRemoveItemAndTrack(element) {
        var result = confirm('<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>');
        if (result) {
			dataLayerRemove(element, '<?php echo $currencyCode; ?>');
		}
        return result;
    }
<?php endif;
// per le impressions
$jqConfig = Mage::getStoreConfig('tracker/google_tag_manager/product_click');
$jqConfig = unserialize($jqConfig);
 ?>
if("undefined" == typeof onClick){
	var onClick = {};
}
jQuery(document).ready(function() {
	<?php foreach ($jqConfig as $config) {
        $a = $config['attribute'];
        $s = $config['selector'];
        $r = $config['regexp'];
        if (!$a) {
			continue;
		}
        $r = $r ? "/{$r}/" : 'null';
		?>
        jQuery('<?php echo $s; ?>').click(function(event) {
            dataLayerImpression(this, '<?php echo $a; ?>', <?php echo $r; ?>);
        });
	<?php } ?>
});
</script>