<?php
$jqAddToCart  = Mage::getStoreConfig('tracker/google_tag_manager/add_to_cart');
$jqAddToWish  = Mage::getStoreConfig('tracker/google_tag_manager/add_to_wish');
$currencyCode = $this->getData('currencyCode');
$product      = $this->getData('product');
$onHead       = (boolean) $this->getData('onHead');
$configuratorIsActive = Mage::helper('core')->isModuleEnabled("Tbuy_Configurator");
$triggerConfiguratorChange = Mage::getStoreConfigFlag('tracker/google_tag_manager/trigger_configurator_change');
?>
<script>
    <?php if(!$onHead) { ?>
		dataLayer.push({
			'event':'pageview',
			'ecommerce': {
				'currencyCode':'<?php echo $currencyCode; ?>',
				'detail': {
					'products': [<?php echo $product; ?>]
				}
			}
		});
    <?php } ?>
    jQuery(document).ready(function() {
        jQuery('<?php echo $jqAddToWish; ?>').click(function(event) {
            dataLayerWAdd(<?php echo $product; ?>);
        });
        var errorHtml = jQuery( ".error-msg" ).html();
        if(errorHtml){
			errorHtml = errorHtml.replace('<ul><li>','<ul><li id="int-gtm-notavailable">');
			jQuery( ".error-msg" ).html(errorHtml);
        }
        jQuery('<?php echo $jqAddToWish; ?>').click(function (event) {
            dataLayerWAdd(<?php echo $product; ?>);
        });

        <?php if( $configuratorIsActive && $triggerConfiguratorChange ) { // This part depends by Tbuy_Configurator ?>
			gtm_last_sku = (typeof current_product_id !== "undefined")?find_child_sku(current_product_id):null;
			if( typeof genconf !== "undefined" && genconf !== null ) {
				jQuery(genconf.single_swatch_class).click(function () {
					if (jQuery(this).hasClass(genconf.swatch_disabled_class)) {
						return false;
					}
					// get data
					var attribute_data = get_swatch_data(this);
					var product_id = attribute_data.product_id;
					// update the sku
					var div = jQuery('<?php echo Mage::getStoreConfig("tracker/google_tag_manager/sku_element")?>');
					if (div.length > 0 && children_sku[product_id]) {
						var sku = find_child_sku(product_id);
						if(gtm_last_sku === sku) {
							return false;
						}
						product_data = <?php echo $product; ?>;
						product_data.id = sku;
						dataLayer.push({
							'event': 'pageview',
							'ecommerce': {
								'currencyCode': '<?php echo $currencyCode; ?>',
								'detail': {
									'products': [product_data]
								}
							}
						});
						gtm_last_sku = sku;
						delete product_data;
					}
				});
			}
        <?php } ?>
    });
</script>