<?php
if( !$this->canTrack() ) {
	return '';
}
$pageType = $this->getPageType();
$js = "";
switch ($pageType) {
	case "category":
		$categoryCodes = Mage::getStoreConfig("rocketfuel/settings/category_codes");
		$code = "";
		if (!empty($categoryCodes) && is_numeric(Mage::registry("current_category")->getId())) {
			$categoryCode = unserialize($categoryCodes);
			if (array_key_exists(Mage::registry("current_category")->getId(), $categoryCode)) {
				$code = $categoryCode[Mage::registry("current_category")->getId()]['code'];
			}
		}
		if (!empty($code)) {
			$js = <<<JSCRIPT
        <!-- Code for Action: Category -->
        <script type="text/javascript">
            var ra = window.ord || Math.floor(Math.random()*10e12); 
            document.write('<img src="https://{$code}p.rfihub.com/ca.gif?rb=7055&ca={$code}&ra=' + ra  + '" />');
        </script>
JSCRIPT;
		}
		break;

    case "home":
        $js = <<<JSCRIPT
        <!-- Code for Action: Home -->
        <script type="text/javascript">
            var ra = window.ord || Math.floor(Math.random()*10e12); 
            document.write('<img src="https://20538583p.rfihub.com/ca.gif?rb=7055&ca=20538583&ra=' + ra  + '" />');
        </script>

JSCRIPT;
        break;

    case "cart":
        $js = <<<JSCRIPT
        <!-- Code for Action: Carrello  -->
         <script type="text/javascript">
             var ra = window.ord || Math.floor(Math.random()*10e12);
              document.write('<img src="https://20538587p.rfihub.com/ca.gif?rb=7055&ca=20538587&ra=' + ra  + '" />');
         </script>
JSCRIPT;
        break;

    case "checkout":
        $js = <<<JSCRIPT
        <!-- Code for Action: CheckOut -->
        <script type="text/javascript">
            var ra = window.ord || Math.floor(Math.random()*10e12);
             document.write('<img src="https://20538589p.rfihub.com/ca.gif?rb=7055&ca=20538589&ra=' + ra  + '" />');
        </script>
JSCRIPT;
        break;
    case "purchase":
        $js = <<<JSCRIPT
        <!--Code for Action: Conferma Acquisto -->
        <script type = "text/javascript">
            var ra = window . ord || Math . floor(Math . random() * 10e12);
            document . write('<img src="https://20538593p.rfihub.com/ca.gif?rb=7055&ca=20538593&ra=' + ra + '" />');
        </script>
JSCRIPT;
        break;
}

echo $js;