<?php /* @var $this Tbuy_Tracker_Block_Webtrekk */ ?>
<script type="text/javascript">
	var webtrekkConfig = {
		trackId: "<?php echo $this->getTrackId(); ?>",
		trackDomain: "<?php echo $this->getTrackDomain(); ?>",
		domain: "<?php echo $this->getDomain(); ?>",
		cookie: "<?php echo $this->getCookie(); ?>",
		mediaCode: "<?php echo $this->getMediaCode(); ?>",
		contentId: ""
	};
</script>
<script src="<?php echo Mage::getBaseUrl('js') ?>tbuy/tracker/webtrekk_v3.js" type="text/javascript"></script>
<script type="text/javascript">
	function getContentIdByURL() {
		var url = document.location.href;
		if (url && url !== null) {
			return url.split("?")[0].toLowerCase();
		}
		return "no_content";
	}
	var pageConfig = {
		linkTrack: "<?php echo $this->getLinkTrack(); ?>", // Activate to track links ["link" or "standard"]
		heatmap: "<?php echo $this->getHeatmap(); ?>", // Activate to track page HEATMAP ["1" = on | "0" = off]
		form: "", // Activate to track FORM ["1" = on | "0" = off]
		contentId: getContentIdByURL() // populate with page name or URL ("page" in q3)
	};
	var wt = new webtrekkV3(pageConfig);
	wt.ignorePrerendering = true;
	wt.contentGroup = <?php echo $this->getContentGroup(); ?>;
	wt.customParameter = {1: document.title};

	<?php if ($this->isProductPage()):
		$this->initProducts(); ?>
		wt.product = '<?php echo $this->getProductsName(); ?>';
		wt.productCategory = <?php echo $this->getProductsCategory(); ?>;
		wt.productCost = '<?php echo $this->getProductsCost(); ?>';
	<?php endif;

	if ($this->isSuccessPage()):
		$this->initOrder(); ?>
		wt.product = '<?php echo $this->getProductsName(); ?>';
		wt.productCost = "<?php echo $this->getProductsCost(); ?>";
		wt.productQuantity = "<?php echo $this->getProductsQty(); ?>";
		wt.orderValue = "<?php echo $this->getOrderTotal(); ?>";
		wt.orderId = "<?php echo $this->getOrderIncrementId(); ?>";
		wt.customEcommerceParameter = <?php echo $this->getCustomEcommerceParameter(); ?>;
	<?php endif;

	if ($this->getProductStatus()): ?>
		wt.productStatus = "<?php echo $this->getProductStatus(); ?>";
	<?php endif; ?>
	wt.sendinfo();
</script>
<noscript><div><img src="//<?php echo $this->getTrackDomain(); ?>/<?php echo $this->getTrackId(); ?>/wt.pl?p=323,0" height="1" width="1" alt="" /></div></noscript>